*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

body {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100vh;

}

.profile {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    width: 350px;
    text-align: center;
    transition: all 0.3s;
}

.profile img {
    width: 100%;
    border-radius: 60%;
}

.profile-info {
    padding: 20px;
}

.profile-info h2 { 
    margin-bottom: 10px;
}

.more-info {
    padding: 20px;
    display: none;
}

.toggle {
    background-color: #010601;
    cursor: pointer;
    color: #fff;
    padding: 12px;
    border: none;
}

@media screen and (max-width: 600px) {
    .profile{
        width: 100%;
        
    }
}
